[data-visible="invisible"] {
  opacity: 0;
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #111516;
  --mg: #1E2324;
  --fg: #e8f3ed;
  --hl: #f55d3e;

  --font-header: "Monument Extended", sans-serif;
  --font-body: "Lora", serif;
}

@font-face {
  font-family: "Monument Extended";
  src: url(/fonts/MonumentExtended-Regular.woff);
}

::selection {
  background-color: var(--hl);
}

html {
  scroll-behavior: smooth;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  text-transform: uppercase;
}

p {
  font-family: var(--font-body);
  font-size: 1.2rem;
  line-height: 1.5;
}

header h1 {
  font-size: 3em;
}

header h6 {
  font-size: 0.75em;
}

header p {
  margin: 10px 0;
}

a {
  color: var(--fg);
  text-decoration: none;
  transition-duration: 0.4s;
  position: relative;
  display: inline-block;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--hl);
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
  transform-origin: bottom left;
}

a:hover::after {
  transform-origin: bottom right;
  transform: scaleX(0);
}

.filterEl a {
  text-transform: uppercase;
  font-family: var(--font-header);
  margin-bottom: 5px;
  font-size: 1.25em;
}
.filterEl h5 {
  margin-bottom: 5px;
  opacity: 0.8;
}

.filterEl h6 {
  margin-bottom: 10px;
  opacity: 0.8;
}

#noResult h2 {
  font-size: 2em;
  margin: 0;
}
/* layout */

body {
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
}

header {
  width: 32vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  margin: 25px;
}

main, #noResult{
  width: 63vw;
  top: 0;
  right: 0;
  position: absolute;
  padding: 25px;
}

main {
display: flex;
  flex-direction: column;
}

#noResult {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  pointer-events: none;
}

#filterContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.filterEl {
  width: 100%;
  border-radius: 10px;
  background-color: var(--mg);
  padding: 25px;
  float: left;
  transition-duration: 0.4s;
  position: relative;
}

.filterEl .links {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* form styling */
form {
  display: flex;
  flex-direction: column;
}

 /* Thanks https://codepen.io/SitePoint/pen/VwNWJa */

 /* css reset for default radio button */
[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
label {
  background-color: var(--bg);
  border-radius: 100vh;
  margin: 6px 12px 6px 0;
  padding: 0 15px;
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
  transition-duration: 0.4s;
}

label:hover {
  background-color: var(--mg);
  transition-duration: 0.4s;
}

[type="radio"] + span {
  font-family: var(--font-header);
  padding-top: 2px;
  font-size: 0.75em;
  white-space: nowrap;
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  background-color: var(--fg);
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  vertical-align: 0.07em;
  border-radius: 1em;
  margin-right: 0.75em;
  transition-duration: 0.2s;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: var(--hl);
}

/* utility */
.hidden {
  opacity: 0;
}

.noClickParent {
  cursor: not-allowed;
}

.noClick {
  pointer-events: none;
}