@import url(https://fonts.googleapis.com/css2?family=Bodoni+Moda);

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

[data-visible="invisible"] {
  opacity: 0;
  display: none !important;
}

:root {
  --color-background: #111516;
  --color-middle_dark: #1e2324;
  --color-middle_light: #93969C;
  --color-foreground: #e8f3ed;
  --color-highlight: #f55d3e;

  --font-header: "Monument Extended", sans-serif;
  --font-body: "PT Mono", monospace;

  --style-border: 2px solid var(--color-middle_light);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-family: var(--font-body);
  font-size: 1.75em;
  font-style: normal;
}

a {
  color: var(--color-foreground);
  text-decoration: none;
}

/* Navbar */
nav #logo {
  margin: 20px;
}

#links {
  position: sticky;
  top: 0;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  border-top: var(--style-border);
  border-bottom: var(--style-border);
  background-color: var(--color-background);
}

#links a {
  width: 50%;
  font-size: 1.1em;
  text-align: center;
  padding: 0.9em 0;
  font-family: var(--font-header);
}

#links :first-child {
  border-right: var(--style-border);
}

/* header */
[data-menu="hidden"] {
  height: 0;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier( 0.63, 0, 0.23, 1 );
}

[data-menu="visible"] {
  height: calc(100% - 60px);
  transition-duration: 0.8s;
}

/* filter menu */
#filterAboutMenu {
  z-index: 69420;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color-background);
}

#filterMenu {
  /* min-height: 70vh; */
  display: flex;
  flex-direction: row;
  border-bottom: var(--style-border);
}

#filterMenu form {
  min-height: 105%;
  width: 50%;
  padding-bottom: 15px;
}

#filterMenu form:first-child {
  border-right: var(--style-border);
}

/* Thanks https://codepen.io/SitePoint/pen/VwNWJa */

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  background-color: var(--color-background);
  border-radius: 100vh;
  margin: 6px 12px 6px 6px;
  padding: 0 15px;
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5vw;
  transition-duration: 0.4s;
}

label:hover {
  background-color: var(--color-middle_dark);
  transition-duration: 0.4s;
}

[type="radio"] + span {
  font-family: var(--font-header);
  padding-top: 2px;
  font-size: 2.5em;
  white-space: nowrap;
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  background-color: var(--color-foreground);
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  vertical-align: 0.07em;
  border-radius: 1em;
  margin-right: 0.75em;
  transition-duration: 0.2s;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: var(--color-highlight);
}

/* about section */
#about {
  padding: 15px;
}

#about h1 {
  font-size: 2.25em;
  margin-bottom: 25px;
}

#about p {
  font-size: 1em;
}

#about section {
  margin: 75px 0;
}

#about section #madeBy {
  text-align: right;
  width: 100%;
}

/* no results */
#noResult {
  position: fixed;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  pointer-events: none;
  text-align: center;
}

#noResult h2 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

#noResult p {
  font-size: 1.2em;
}

.hidden {
  display: none !important;
}

/* main  */
main {
  display: grid;
  padding: 15px;
  grid-gap: 30px;
}

.filterEl {
  border: var(--style-border);
  border-radius: 10px;
  display: block;
}

.filterEl h2 {
  font-size: 1.15em;
  padding: 15px;
  border-bottom: var(--style-border);

}

.filterEl .tags {
  display: flex;
  border-bottom: var(--style-border);
}

.filterEl .tags h5 {
  width: 50%;
  padding: 15px;
  font-size: 0.75em;
  font-family: var(--font-body);
}

.filterEl .tags h5:first-of-type {
  border-right: var(--style-border);
}

.filterEl p {
  padding: 15px;
  font-size: 1em;
}

.filterEl a {
  border-top: var(--style-border);
  padding: 15px 0;
  font-family: var(--font-header);
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  display: inline-block;
  transition-duration: 0.2s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
}

.filterEl a:hover {
  background-color: var(--color-middle_dark);
  transition-duration: 0.4s;
}

