@import url(https://fonts.googleapis.com/css2?family=Bodoni+Moda);

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

[data-visible="invisible"] {
  opacity: 0;
  display: none !important;
}

:root {
  --color-background: #111516;
  --color-middle_dark: #1e2324;
  --color-middle_light: #93969c;
  --color-foreground: #e8f3ed;
  --color-highlight: #f55d3e;

  --font-header: "Monument Extended", sans-serif;
  --font-body: "PT Mono", monospace;

  --style-border: 2px solid var(--color-middle_light);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-family: var(--font-body);
  font-size: 1.75em;
  font-style: normal;
}

p a {
  text-decoration: underline;
  text-decoration-color: var(--color-highlight);
  text-decoration-thickness: 3px;
}

a {
  color: var(--color-foreground);
  text-decoration: none;
}

/* Navbar */
nav #logo {
  margin: 20px;
}

#links {
  z-index: 69419;
  position: sticky;
  width: 100%;
  top: 0;
  height: 3.5em;
  display: flex;
  border-top: var(--style-border);
  border-bottom: var(--style-border);
  background-color: var(--color-background);
}

#links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#links .link:first-of-type {
  border-right: var(--style-border);
}

#links .link a {
  font-size: 1.1em;
  text-align: center;
  padding: 0.9em 0;
  font-family: var(--font-header);
}

/* header */
[data-menu="hidden"] {
  height: 0;
}

/* filter menu */
#filterAboutMenu {
  z-index: 69420;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color-background);
}

#filterMenu {
  /* min-height: 70vh; */
  display: flex;
  flex-direction: row;
  border-bottom: var(--style-border);
}

#filterMenu form {
  min-height: 105%;
  width: 50%;
  padding-bottom: 15px;
}

#filterMenu form:first-child {
  border-right: var(--style-border);
}

/* Thanks https://codepen.io/SitePoint/pen/VwNWJa */

#home [type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
#home label {
  background-color: var(--color-background);
  border-radius: 100vh;
  margin: 6px 12px 6px 6px;
  padding: 0 15px;
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5vw;
  transition-duration: 0.4s;
}

#home label:hover {
  background-color: var(--color-middle_dark);
  transition-duration: 0.4s;
}

#home [type="radio"] + span {
  font-family: var(--font-header);
  padding-top: 2px;
  font-size: 2.25em;
  display: block;
  text-transform: uppercase;
}

/* the basic, unchecked style */
#home [type="radio"] + span:before {
  background-color: var(--color-foreground);
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  vertical-align: 0.07em;
  border-radius: 1em;
  margin-right: 0.75em;
  transition-duration: 0.2s;
}

/* the checked style using the :checked pseudo class */
#home [type="radio"]:checked + span:before {
  background: var(--color-highlight);
}

/* about section */
#about {
  padding: 15px;
}

#about h1 {
  font-size: 2.25em;
  margin-bottom: 25px;
}

#about p {
  font-size: 1em;
}

#about section {
  margin: 75px 0;
}

#about section #madeBy {
  text-align: right;
  width: 100%;
}

/* no results */
#noResult {
  position: fixed;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}

#noResult h2 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

#noResult p {
  font-size: 1.2em;
}

.hidden {
  display: none !important;
}

/* main  */
#home main {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterEl {
  border: var(--style-border);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
}

.filterEl h2 {
  font-size: 1.15em;
  padding: 15px;
  border-bottom: var(--style-border);
}

.filterEl .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--style-border);
}

.filterEl .tags div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  height: 100%;
}

.filterEl .tags div:first-of-type {
  border-right: var(--style-border);
}

.filterEl .tags div h5 {
  font-family: var(--font-body);
  padding: 5px 10px;
  border: 2px solid var(--color-highlight);
  margin: 5px 0 5px 10px;
  border-radius: 100vw;
  height: min-content;
}

.filterEl p {
  padding: 15px;
  font-size: 1em;
}

.filterEl a {
  border-top: var(--style-border);
  padding: 15px 0;
  font-family: var(--font-header);
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  display: inline-block;
  transition-duration: 0.2s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
}

.filterEl a:hover {
  background-color: var(--color-middle_dark);
  transition-duration: 0.4s;
}

/* tablet breakpoint */
@media screen and (min-width: 650px) {
  :root {
    --style-border: 5px solid var(--color-middle_light);
  }

  #home main {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    margin: 0 5vw;
    grid-gap: 30px;
  }

  #home [type="radio"] + span {
    font-size: 1.2em;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 999px) {
  :root {
    --style-border: 5px solid var(--color-middle_light);
  }

  nav {
    padding: 20px;
    width: 100%;
    border-bottom: var(--style-border);
    position: fixed;
    background-color: var(--color-background);
    z-index: 69419;
  }

  nav #logo {
    margin: 0;
  }

  nav #logo h1 {
    font-size: 2em;
  }

  nav #logo h6 {
    font-size: 0.8em;
  }

  #links {
    height: 6em;
    width: min-content;
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    border-left: var(--style-border);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #links .link {
    border: none;
  }

  #links .link a {
    white-space: nowrap;
    font-size: 1.25em;
    text-align: center;
    padding: 0 30px;
    vertical-align: middle;
    border: none;
  }

  #home [type="radio"] + span {
    font-size: 2.25vh;
  }

  #filterAboutMenu {
    display: flex;
    flex-direction: row;
    border-bottom: none;
    overflow: hidden;
  }

  #filterMenu {
    width: 100%;
    height: 100%;
  }

  #filterMenu form {
    min-height: 0;
    padding: 0 25px;
  }

  #filterMenu form:first-of-type {
    border: none;
  }

  #filterMenu form:last-of-type {
    border-left: var(--style-border);
    border-right: var(--style-border);
  }

  label {
    font-size: 0.5vw;
  }

  #about {
    height: 93%;
    max-width: 50%;
    margin: 0 50px;
    margin-left: 25px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #about h1 {
    font-size: 2.25vw;
  }

  #about p {
    font-size: 1.25vw;
  }

  #about section {
    margin: 0;
  }

  #about section:last-of-type {
    font-size: 1vw;
    align-self: end;
  }

  #noResult {
    width: 100%;
  }

  #noResult p,
  #noResult h2 {
    width: 30%;
  }

  #home main {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    margin: 0 5vw;
    grid-gap: 30px;
  }

  .filterEl {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  .filterEl h2 {
    font-size: 1.5em;
  }

  .filterEl p {
    font-size: 1.15em;
    flex-grow: 1;
  }
}








#submit main {
  position: relative;
}

#submit form {}